body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}
.popup-show body::after {
  opacity: 1;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}
.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  // padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  .lock & {
    visibility: visible;
  }
  // .popup__content_form
  &_form {
    background: #f9b300;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveValue("padding-top", 20, 15);
    @include adaptiveValue("padding-right", 20, 15);
    @include adaptiveValue("padding-bottom", 20, 15);
    @include adaptiveValue("padding-left", 20, 15);
  }
}

// Стили для popup формы
.popup {
  // .popup__text
  &__text {
    // .popup__text_form
    &_form {
      font-weight: 700;
      line-height: math.div(30, 25);
      @include adaptiveValue("font-size", 25, 18);
      line-height: 30px;
      color: #ffffff;
    }
  }
}

// Стили для формы регистрации и входа popup
.popup {
  // .popup__content
  &__content {
    display: flex;
    max-width: 1360px;
    @media (max-width: em(660)) {
      flex-direction: column;
    }
  }
  // .popup__left
  &__left {
    flex: 1 1 28.9855%;
  }
  // .popup__right
  &__right {
    flex: 1 1 71.0145%;
  }
}
.left-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include adaptiveValue("padding", 50, 35, 1660, 992, 1);
  @include adaptiveValue("padding-bottom", 60, 35, 1660, 992, 1);
  background: #f9b300;
  border-radius: 20px 0px 0px 20px;
  @media (max-width: em(660)) {
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    @include adaptiveValue("padding", 35, 20, 660, 320, 1);
  }
  // .left-popup__picture
  &__picture {
    position: relative;
    @media (max-width: em(660)) {
      width: 50%;
      height: 50%;
      align-self: center;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: -5%;
      left: 0%;
      background: url("@img/main/hero/cup.png") 0 0 / 100% no-repeat;
      z-index: 2;
    }
  }
  // .left-popup__ibg-image
  &__ibg-image {
    padding-bottom: 88.9507%;
  }
  // .left-popup__ibg-pic
  &__ibg-pic {
  }
  // .left-popup__body
  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 15);
    }
  }
  // .left-popup__title
  &__title {
    text-align: center;
    font-weight: 900;
    @include adaptiveValue("font-size", 35, 20);
    line-height: math.div(44, 35);
    color: #ffffff;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 14);
    }
  }
  // .left-popup__subtitle
  &__subtitle {
    font-weight: 500;
    @include adaptiveValue("font-size", 25, 18, 1660, 768, 1);
    line-height: math.div(29, 25);
    color: #ffffff;
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 15);
    }
  }
  // .left-popup__button
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    @include adaptiveValue("font-size", 25, 20);
    line-height: math.div(29, 25);
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    @include adaptiveValue("padding-top", 20, 10, 1660, 768, 1);
    @include adaptiveValue("padding-bottom", 20, 10, 1660, 768, 1);
    @include adaptiveValue("padding-left", 40, 30, 1660, 768, 1);
    @include adaptiveValue("padding-right", 40, 30, 1660, 768, 1);
    transition: all 0.2s ease 0s;
    text-align: center;
    @media (any-hover: hover) {
      &:hover {
        background: #e2a300;
      }
    }
  }
}
.right-popup {
  background: #ffffff;
  @include adaptiveValue("padding", 50, 35, 1660, 992, 1);
  @include adaptiveValue("padding-bottom", 60, 35, 1660, 992, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  @media (max-width: em(660)) {
    border-radius: 0px 0px 20px 20px;
    @include adaptiveValue("padding", 35, 30, 660, 320, 1);
  }
  // .right-popup__close
  &__close {
    align-self: flex-end;
    flex: 0 0 40px;
    width: 40px;
    position: relative;
    display: block;
    @media (max-width: $tablet) {
      flex: 0 0 30px;
      width: 30px;
    }
    @media (min-width: em(660)) {
      // .right-popup__close_display-one
      &_display-one {
        display: none;
      }
    }
    @media (max-width: em(660)) {
      // .right-popup__close_display-two
      &_display-two {
        display: none;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      top: 0;
      left: 0;
      background-color: black;
    }
    &::before {
      top: 50%;
      transform: rotate(45deg);
    }
    &::after {
      top: 50%;
      transform: rotate(-45deg);
    }
  }
  // .right-popup__logo
  &__logo {
  }
  // .right-popup__logotype
  &__logotype {
  }
  // .right-popup__title
  &__title {
    text-align: center;
    font-weight: 900;
    @include adaptiveValue("font-size", 40, 25);
    line-height: math.div(50, 40);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }
  }
  // .right-popup__text
  &__text {
    font-weight: 500;
    line-height: math.div(24, 20);
    @include adaptiveValue("font-size", 20, 18);
    text-align: center;
    max-width: rem(593);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);
    }
    @media (max-width: em(1200)) {
      max-width: rem(500);
    }
  }
  // .right-popup__form
  &__form {
  }
}
.form-popup {
  width: 80%;
  &:not(:last-child) {
    @include adaptiveValue(" margin-bottom", 20, 15);
  }
  @media (max-width: $mobile) {
    width: 100%;
  }
  // .form-popup__item
  &__item {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 15);
    }
  }
  // .form-popup__input
  &__input {
    background: #f6f6f6;
    border-radius: 5px;
    @include adaptiveValue("padding", 20, 10, 1660, 768, 1);
    &::placeholder {
      font-weight: 500;
      line-height: math.div(24, 20);
      @include adaptiveValue("font-size", 20, 18);
      line-height: 24px;
      color: #c9c9c9;
    }
  }
  // .form-popup__button
  &__button {
    display: block;
    width: 100%;
    background: #f9b300;
    border-radius: 5px;
    @include adaptiveValue("padding", 20, 13, 1660, 768, 1);
    padding: rem(20);
    font-weight: 700;
    @include adaptiveValue("font-size", 25, 20);
    line-height: math.div(30, 25);
    color: #ffffff;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background: #e2a300;
      }
    }
  }
  // .form-popup__btn
  &__btn {
  }
}
