// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
  display: grid;
  @include adaptiveValue("row-gap", 30, 15, 1660, 1370, 1);
}
// Спойлер
.spollers__item {
  @include adaptiveValue("padding", 30, 20, 1660, 480, 1);
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
  border-radius: 20px;
  font-size: rem(20);
  position: relative;
  @media (max-width: $mobileSmall) {
    @include adaptiveValue("padding", 20, 8, 480, 320, 1);
  }
}
// Заголовок спойлера
.spollers__title {
  font-weight: 600;
  @include adaptiveValue("font-size", 25, 18, 1660, 1370, 1);
  line-height: 130%;
  color: #000000;
  width: 100%;
  cursor: default;
  text-align: left;
  padding: rem(10) rem(15);
  border-radius: rem(5);
  position: relative;
  display: flex;
  column-gap: rem(40);
  // .spollers__text
  &__text {
  }
  // .spollers__decor
  &__decor {
  }
  ._spoller-init & {
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      background-color: #000;
      height: 2px;
      width: 15px;
      transition: transform 0.5s ease 0s;
    }
    &::before {
      transform: translate(-75%, -50%) rotate(40deg);
    }
    &::after {
      transform: translate(0, -50%) rotate(-40deg);
    }
    &._spoller-active {
      &::before {
        transform: translateX(-75%) rotate(-40deg);
      }
      &::after {
        transform: rotate(40deg);
      }
    }
  }
}
// Контент спойлера
.spollers__body {
  font-weight: 500;
  @include adaptiveValue("font-size", 20, 18, 1660, 1370, 1);
  line-height: 130%;
  padding: rem(20);
  @include adaptiveValue("padding-top", 20, 10, 480, 320, 1);
}
