//<QUANTITY>
// Снипет (HTML): qa
.quantity {
  max-width: rem(260);
  display: flex;
  background: #f6f6f6;
  border: 1px solid #d6d6d6;
  border-radius: rem(5);
  padding: rem(15) rem(30);
  // .quantity__button
  &__button {
    flex: 0 0 rem(30);
    position: relative;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.3s ease 0s;
      margin: 0px 0px 0px rem(-7);
      background-color: #000000;
      width: rem(15);
      height: rem(3);
    }
    @media (any-hover: hover) {
      &:hover {
        &::before,
        &::after {
          background-color: #a6a6a6;
        }
      }
    }
    // .quantity__button_plus
    &_plus {
      &::before {
        transform: rotate(-90deg);
      }
    }
    // .quantity__button_minus
    &_minus {
    }
  }
  // .quantity__input
  &__input {
    flex: 1 1 auto;
    input {
      background: #f6f6f6;
      height: 100%;
      color: #222222;
      font-size: rem(25);
      font-weight: 600;
      width: 100%;
      text-align: center;
    }
  }
}
