// Заголовки, общие БЄМ блоки и проче...
// Главный заголовок h1
.stars {
  color: #f9b300;
}

.title-main {
  font-weight: 900;
  @include adaptiveValue("font-size", 70, 25);
  line-height: math.div(87, 70);
  color: #ffffff;
}
// Общий title
.title {
  font-weight: 900;
  @include adaptiveValue("font-size", 50, 25);
}

// Общий текст
.text {
  font-weight: 500;
  @include adaptiveValue("font-size", 25, 18, 1660, 1370, 1);
  line-height: 130%;
}

// Common styles for header and footer
.common-elements {
  display: flex;
  align-items: center;
  @include adaptiveValue("column-gap", 30, 10);
  justify-content: space-between;
  @include adaptiveValue("min-height", 137, 60);
  padding-top: rem(10);
  padding-bottom: rem(10);
  // .common-elements__logo
  &__logo {
    position: relative;
    z-index: 3;
    flex: 0 0 260px;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobile) {
      @include adaptiveValue("flex-basis", 260, 100, 768, 320, 1);
      @include adaptiveValue("height", 116, 50, 768, 320, 1);
    }
  }
  // .common-elements__logotype
  &__logotype {
    max-height: 116px;
    max-width: 100%;
  }
  // .common-elements__items
  &__items {
    max-width: 1380px;
    display: flex;
    align-items: center;
    position: relative;
    @include adaptiveValue("column-gap", 340, 30, 1660, 1000, 1);
    padding: rem(10);
    @media (max-width: $mobileSmall) {
      @include adaptiveValue("column-gap", 30, 15, 480, 320, 1);
    }
  }
  // .common-elements__menu
  &__menu {
  }
  // .common-elements__user
  &__user {
  }
}
// Bug fixing of select with small arrow
.select {
  // .select__value
  &__value {
    padding: 0 rem(15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after {
      width: 15px;
      height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      content: "";
      display: block;
      transition: all 0.3s ease 0s;
      background: url("../img/main/columns-slider/arrow-small.svg") 0 0 no-repeat;
      ._select-open & {
        transform: rotate(-180deg);
      }
    }
  }
}

// Orange blob background
.bg-wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: url("@img/main/hero/blob.svg") 0 0 / 100% no-repeat;
  }
  &::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 100%;
    top: rem(1050);
    left: -10%;
    background: url("../img/main/item-cards/blob-two.svg") 0 0 / 100% no-repeat;
  }
}

// Pagination for swiper
.swiper-pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include adaptiveValue("gap", 30, 25, 1660, 992, 1);
  padding-bottom: rem(20);
}
.swiper-pagination-bullet {
  cursor: pointer;
  @include adaptiveValue("height", 20, 16, 1660, 992, 1);
  @include adaptiveValue("width", 20, 16, 1660, 992, 1);
  background-color: #ffffff;
  border-radius: 50%;
  @media (min-width: em(2500)) {
    background-color: #e4dcda;
  }
  @media (max-width: $mobileSmall) {
    background-color: #e4dcda;
  }
}
.swiper-pagination-bullet-active {
  background-color: #40241d;
  @media (max-width: $mobileSmall) {
    background-color: #40241d;
  }
  @media (min-width: em(2500)) {
    background-color: #40241d;
  }
}
.swiper-dotts {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include adaptiveValue("gap", 30, 25, 1660, 992, 1);
  padding-bottom: rem(20);
  .swiper-pagination-bullet {
    cursor: pointer;
    @include adaptiveValue("height", 20, 16, 1660, 992, 1);
    @include adaptiveValue("width", 20, 16, 1660, 992, 1);
    background-color: #fbdd91;
    border-radius: 50%;
  }
  .swiper-pagination-bullet-active {
    background-color: #f9b300;
  }
}

// Общие стили карточек с товарами
.item-columns {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: rem(20) rem(35) rem(50) rem(35);
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(146, 146, 146, 0.25);
  border-radius: 20px;
  position: relative;
  @media (max-width: $mobileSmall) {
    padding: rem(20);
  }
  // .item-columns__main
  &__main {
    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      top: -5%;
      left: 5%;
      background: url("../img/main/columns-slider/percent.png") 0 0 / 50% no-repeat;
      @media (max-width: $mobile) {
        top: -5%;
        left: 0;
        background: url("../img/main/columns-slider/percent.png") 0 0 / 40% no-repeat;
      }
    }
  }

  // .item-columns__head
  &__head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
  // .item-columns__text
  &__text {
    font-weight: 700;
    line-height: math.div(22, 18);
    font-size: rem(18);
    color: #f9b300;
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
  // .item-columns__body
  &__body {
  }

  // .item-columns__prefooter
  &__prefooter {
    flex: 1 1 auto;
  }
  // .item-columns__footer
  &__footer {
  }
  // .item-columns__priceold
  &__priceold {
    font-weight: 500;
    line-height: math.div(29, 25);
    text-decoration-line: line-through;
    color: #c6c6c6;
  }

  // .item-columns__upper
  &__upper {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 15);
    }
  }

  // .item-columns__lower
  &__lower {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}
.body-columns-item {
  display: flex;
  align-items: flex-start;
  @include adaptiveValue("column-gap", 20, 10, 480, 320, 1);
  row-gap: rem(15);
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 35, 25);
  }
  // .body-columns-item__picture
  &__picture {
    flex: 1 1 56.393%;
  }
  // .body-columns-item__ibg-image
  &__ibg-image {
    padding-bottom: 180%;
  }
  // .body-columns-item__ibg-pic
  &__ibg-pic {
  }
  // .body-columns-item__content
  &__content {
    flex: 1 1 43.607%;
  }
  // .body-columns-item__rating
  &__rating {
    color: #f9b300;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 10, 5);
    }
  }
  // .body-columns-item__reviews
  &__reviews {
    display: flex;
    align-items: center;
    gap: rem(7);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 28, 15);
    }
  }
  // .body-columns-item__number
  &__number {
    font-weight: 700;
    line-height: math.div(24, 20);
    @include adaptiveValue("font-size", 20, 18);
  }
  // .body-columns-item__review
  &__review {
    position: relative;
    font-weight: 500;
    font-size: rem(14);
    line-height: math.div(16, 14);
    color: #5b5b5b;
  }
  // .body-columns-item__roasting
  &__roasting {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);
    }
  }
  // .body-columns-item__text
  &__text {
    font-weight: 500;
    line-height: math.div(21, 18);
    font-size: rem(18);
  }
  // .body-columns-item__points
  &__points {
    color: #f9b300;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 15, 10);
    }
  }
}
.prefooter-columns-item {
  &:not(:last-child) {
    margin-bottom: rem(8);
  }
  // .prefooter-columns-item__title
  &__title {
    position: relative;
    display: block;
    font-weight: 900;
    line-height: math.div(31, 25);
    @include adaptiveValue("font-size", 25, 24, 480, 320, 1);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .prefooter-columns-item__text
  &__text {
    font-weight: 500;
    line-height: math.div(21, 18);
    @include adaptiveValue("font-size", 18, 17, 480, 320, 1);
  }
}
.footer-columns-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @include adaptiveValue("column-gap", 50, 10, 1660, 992, 1);
  @media (max-width: em(1268)) {
    flex-direction: column;
    align-items: flex-start;
  }
  // .footer-columns-item__pricenew
  &__pricenew {
    font-weight: 900;
    line-height: math.div(44, 35);
    font-size: 35px;
    align-self: flex-start;
    @media (max-width: em(1268)) {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }
  // .footer-columns-item__button
  &__button {
    font-weight: 700;
    line-height: math.div(22, 18);
    padding: rem(13) rem(40);
    position: relative;
  }
}

// Общая кнопка вариант 2
.button-two {
  display: flex;
  justify-content: end;
  font-weight: 500;
  @include adaptiveValue("font-size", 20, 18);
  line-height: math.div(24, 20);
  // .button-two_font
  &_font {
    @include adaptiveValue("font-size", 20, 16);
  }

  span {
    border-bottom: 1px solid $mainColor;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $mainElementColor;
        border-bottom: 1px solid $mainElementColor;
      }
    }
  }
}

// Общий блок для формы отправки почты
.subscribe {
  margin-top: rem(-3);
  @include adaptiveValue("padding-bottom", 80, 30);
  // .subscribe_bg
  &_bg {
    @include adaptiveValue("padding-top", 180, 50);
    background: url("../img/bg-one.svg") 0 2% / 100% no-repeat;
    position: relative;
    @media (max-width: $mobile) {
      background: url("../img/bg-one.svg") 0 1% / 100% no-repeat;
    }
    @media (max-width: $mobileSmall) {
      background: url("../img/bg-one.svg") 0 0.5% / 100% no-repeat;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("../img/bg-two.svg") 0 0 / 100% no-repeat;
    }
  }
  // .subscribe_bg-two
  &_bg-two {
    @include adaptiveValue("padding-top", 180, 50);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("../img/blog/bg.svg") 0 0 / 100% no-repeat;
    }
  }

  // .subscribe__container
  &__container {
    display: flex;
    @include adaptiveValue("column-gap", 20, 10, 1660, 768, 1);
    row-gap: rem(20);
    @media (max-width: em(660)) {
      flex-direction: column;
    }
  }
  // .subscribe__body
  &__body {
    flex: 1 1 58.0723%;
  }
  // .subscribe__title
  &__title {
    position: relative;
    max-width: rem(800);
    font-weight: 900;
    line-height: math.div(62, 50);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 25, 1660, 768, 1);
    }
  }
  // .subscribe__subtitle
  &__subtitle {
    max-width: rem(757);
    @include adaptiveValue("font-size", 25, 18);
    font-weight: 500;
    line-height: 130%;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30, 1660, 768, 1);
    }
  }
  // .subscribe__form
  &__form {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 15, 1660, 768, 1);
    }
  }
  // .subscribe__text
  &__text {
    font-weight: 500;
    font-size: rem(16);
    line-height: 130%;
    color: #5b5b5b;
    span {
      color: $mainElementColor;
      position: relative;
    }
  }
  // .subscribe__picture
  &__picture {
    position: relative;
    flex: 1 1 41.9277%;
    &::before {
      content: "";
      position: absolute;
      width: 65%;
      height: 100%;
      top: 15%;
      left: 15%;
      background: url("../img/main/hero/cup.png") 0 0 / 100% no-repeat;
      z-index: 2;
    }
  }
  // .subscribe__ibg-image
  &__ibg-image {
    padding-bottom: 68.876%;
    @media (max-width: em(660)) {
      padding-bottom: 58.876%;
    }
  }
  // .subscribe__ibg-pic
  &__ibg-pic {
  }
}
.form-subscribe {
  display: flex;
  align-items: center;
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  // .form-subscribe__input
  &__input {
    background: #f3f3f3;
    border-radius: rem(40);
    border: none;
    z-index: 3;
    @include adaptiveValue("padding-top", 25, 13, 1660, 1360, 1);
    @include adaptiveValue("padding-bottom", 25, 13, 1660, 1360, 1);
    @include adaptiveValue("padding-right", 90, 70, 1660, 1360, 1);
    @include adaptiveValue("padding-left", 60, 20, 1660, 1360, 1);
    &::placeholder {
      color: #c9c9c9;
      @include adaptiveValue("font-size", 25, 18, 1660, 1360, 1);
    }
    @media (max-width: $tablet) {
      @include adaptiveValue("padding-right", 50, 20, 1660, 768, 1);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10, 992, 768, 1);
      }
    }
  }
  // .form-subscribe__button
  &__button {
    z-index: 3;
    transform: translate(-30%, 0);
    font-weight: 700;
    line-height: math.div(30, 25);
    color: #ffffff;
    background: #f9b300;
    border-radius: rem(40);
    @include adaptiveValue("font-size", 25, 18, 1660, 1360, 1);
    @include adaptiveValue("padding-top", 25, 16, 1660, 1360, 1);
    @include adaptiveValue("padding-bottom", 25, 16, 1660, 1360, 1);
    @include adaptiveValue("padding-right", 53, 30, 1660, 1360, 1);
    @include adaptiveValue("padding-left", 53, 30, 1660, 1360, 1);
    @media (max-width: $tablet) {
      transform: translate(0, 0);
      align-self: flex-start;
    }
  }
}

// Общая кнопка "Показать еще"
.block {
  // .block__more
  &__more {
    // .block__more_wide
    &_wide {
      @include adaptiveValue("margin-top", 30, 15);
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border: 1px solid #e4e4e4;
      border-radius: 10px;
      @include adaptiveValue("padding", 23, 15);
      width: 100%;
      transition: all 0.2s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $mainElementColor;
          background: #fff7e1;
          border: 1px solid $mainElementColor;
          span {
            color: $mainElementColor;
          }
        }
      }
      span {
        padding-top: 0;
        border-bottom: none;
        color: black;
        @media (any-hover: hover) {
          &:hover {
            color: $mainElementColor;
            border-bottom: none;
          }
        }
      }
    }
    // .block__more_color
    &_color {
      background: #f6f6f6;
    }
  }
}
