// Заголовки, общие БЄМ блоки и проче...
// Главный заголовок h1
.title-main {
  font-weight: 900;
  @include adaptiveValue("font-size", 70, 25);
  line-height: math.div(87, 70);
  color: #ffffff;
}

// Common styles for header and footer

.common-elements {
  display: flex;
  align-items: center;
  @include adaptiveValue("column-gap", 30, 10);
  justify-content: space-between;
  @include adaptiveValue("min-height", 137, 60);
  padding-top: rem(10);
  padding-bottom: rem(10);
  // .common-elements__logo
  &__logo {
    position: relative;
    z-index: 2;
    flex: 0 0 260px;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobile) {
      @include adaptiveValue("flex-basis", 260, 100, 768, 320, 1);
      @include adaptiveValue("height", 116, 50, 768, 320, 1);
    }
  }
  // .common-elements__logotype
  &__logotype {
    max-height: 116px;
    max-width: 100%;
  }
  // .common-elements__items
  &__items {
    max-width: 1380px;
    display: flex;
    align-items: center;
    position: relative;
    @include adaptiveValue("column-gap", 340, 30, 1660, 1000, 1);
    padding: rem(10);
    @media (max-width: $mobileSmall) {
      @include adaptiveValue("column-gap", 30, 15, 480, 320, 1);
    }
  }
  // .common-elements__menu
  &__menu {
  }
  // .common-elements__user
  &__user {
  }
}
// Bug fixing of select with small arrow
.select {
  // .select__value
  &__value {
    padding: 0 rem(15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after {
      width: 15px;
      height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      content: "";
      display: block;
      transition: all 0.3s ease 0s;
      background: url("../img/main/columns-slider/arrow-small.svg") 0 0 no-repeat;
      ._select-open & {
        transform: rotate(-180deg);
      }
    }
  }
}

// Orange blob background
.bg-wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: url("@img/main/hero/blob.svg") 0 0 / 100% no-repeat;
  }
  &::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 100%;
    top: rem(1050);
    left: -10%;
    background: url("../img/main/item-cards/blob-two.svg") 0 0 / 100% no-repeat;
  }
}

// Общий title
.title {
  font-weight: 900;
  @include adaptiveValue("font-size", 50, 25);
}

// Pagination for swiper
.swiper-pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include adaptiveValue("gap", 30, 25, 1660, 992, 1);
  padding-bottom: rem(20);
}
.swiper-pagination-bullet {
  cursor: pointer;
  @include adaptiveValue("height", 20, 16, 1660, 992, 1);
  @include adaptiveValue("width", 20, 16, 1660, 992, 1);
  background-color: #ffffff;
  border-radius: 50%;
  @media (min-width: em(2500)) {
    background-color: #e4dcda;
  }
  @media (max-width: $mobileSmall) {
    background-color: #e4dcda;
  }
}
.swiper-pagination-bullet-active {
  background-color: #40241d;
  @media (max-width: $mobileSmall) {
    background-color: #40241d;
  }
  @media (min-width: em(2500)) {
    background-color: #40241d;
  }
}

.swiper-dotts {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include adaptiveValue("gap", 30, 25, 1660, 992, 1);
  padding-bottom: rem(20);
  .swiper-pagination-bullet {
    cursor: pointer;
    @include adaptiveValue("height", 20, 16, 1660, 992, 1);
    @include adaptiveValue("width", 20, 16, 1660, 992, 1);
    background-color: #fbdd91;
    border-radius: 50%;
  }
  .swiper-pagination-bullet-active {
    background-color: #f9b300;
  }
}
