//====================================================================================================

//====================================================================================================
.header {
  &.header__active {
    transition: all 0.2s ease 0s;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(157, 157, 157, 0.25);
  }
  // .header__container
  &__container {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 30, 10);
    justify-content: space-between;
    @include adaptiveValue("min-height", 137, 60);
    padding-top: rem(10);
    padding-bottom: rem(10);
  }
  // .header__logo
  &__logo {
    position: relative;
    z-index: 2;
    flex: 0 0 260px;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobile) {
      @include adaptiveValue("flex-basis", 260, 100, 768, 320, 1);
      @include adaptiveValue("height", 116, 50, 768, 320, 1);
    }
  }
  // .header__logotype
  &__logotype {
    max-height: 116px;
    max-width: 100%;
  }

  // .header__items
  &__items {
    max-width: 1380px;
    display: flex;
    align-items: center;
    position: relative;
    @include adaptiveValue("column-gap", 340, 30, 1660, 1000, 1);
    padding: rem(10);
    @media (max-width: $mobileSmall) {
      @include adaptiveValue("column-gap", 30, 15, 480, 320, 1);
    }
  }

  // .header__menu
  &__menu {
  }
  // .header__user
  &__user {
  }
}
.form-header {
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.2s ease 0s;
  &.form-header__active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  // .form-header__items
  &__items {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .form-header__input
  &__input {
    padding: rem(20);
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
    border-radius: 30px;
    color: #a9a9a9;
    &::placeholder {
      color: #c4c4c4;
    }
  }
}

.menu {
  // .menu__body
  &__body {
    @media (max-width: $mobile) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      overflow: auto;
      @include adaptiveValue("padding-top", 185, 110, 768, 320, 1);
      padding-bottom: rem(30);
      padding-left: rem(15);
      padding-right: rem(15);
      background-color: #f9dd97;
      transition: all 0.3s ease 0s;
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.3s ease 0s;
        @include adaptiveValue("height", 136, 80, 768, 320, 1);
        background-color: #f9b300;
        z-index: 2;
      }
      .menu-open & {
        opacity: 1;
        &::before {
          opacity: 1;
        }
      }
    }
  }
  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include adaptiveValue("column-gap", 100, 30, 1660, 768, 1);
    row-gap: rem(15);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .menu__item
  &__item {
    text-align: center;
  }
  // .menu__link
  &__link {
    font-weight: 500;
    line-height: math.div(29, 25);
  }
  // .menu__icon
  &__icon {
  }
}
.icon-menu {
}
.user-header {
  display: flex;
  align-items: center;
  @include adaptiveValue("column-gap", 53, 20, 1660, 768, 1);
  @media (max-width: $mobileSmall) {
    @include adaptiveValue("column-gap", 20, 15, 480, 320, 1);
  }
  // .user-header__item
  &__item {
    position: relative;
    z-index: 2;
  }
  // .user-header__search
  &__search {
    @include adaptiveValue("font-size", 32, 26, 768, 320, 1);
  }
  // .user-header__cart
  &__cart {
    @include adaptiveValue("font-size", 32, 26, 768, 320, 1);
  }
  // .user-header__login
  &__login {
    @include adaptiveValue("font-size", 32, 26, 768, 320, 1);
  }
}

//Burger
.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      border-radius: rem(10);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
