.page {
}
// Блок Hero
.hero {
  @include adaptiveValue("padding-top", 120, 50, 1660, 992, 1);
  @include adaptiveValue("padding-bottom", 120, 10, 1660, 992, 1);
  // .hero__container
  &__container {
  }

  // .hero__slider
  &__slider {
  }
  // .hero__wrapper
  &__wrapper {
    @include adaptiveValue("padding-bottom", 80, 10, 1660, 992, 1);
  }
  // .hero__slide
  &__slide {
  }
}

.item-hero {
  display: flex;
  column-gap: rem(30);
  @media (max-width: $mobileSmall) {
    display: flex;
    flex-direction: column;
  }

  // .item-hero__body
  &__body {
    flex: 1 1 57.831%;
    @include adaptiveValue("padding-top", 50, 0, 1660, 600, 1);
    @include adaptiveValue("padding-bottom", 50, 30, 1660, 600, 1);
  }
  // .item-hero__title
  &__title {
    font-weight: 900;
    @include adaptiveValue("font-size", 80, 40, 1660, 992, 1);
    line-height: math.div(100, 80);
    @include adaptiveValue("max-width", 600, 200, 1500, 768, 1);
    color: #000000;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 20, 1660, 992, 1);
    }
    @media (max-width: $tablet) {
      @include adaptiveValue("font-size", 40, 30, 992, 600, 1);
    }
  }
  // .item-hero__text
  &__text {
    @include adaptiveValue("font-size", 25, 18, 1660, 992, 1);
    font-weight: 500;
    line-height: 130%;
    @include adaptiveValue("max-width", 650, 300, 1500, 768, 1);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 20, 1660, 992, 1);
    }
    span {
      font-weight: 700;
    }
  }
  // .item-hero__button
  &__button {
    display: inline-flex;
    text-align: center;
  }

  // .item-hero__picture
  &__picture {
    flex: 1 1 42.169%;
    position: relative;
    @media (max-width: $mobileSmall) {
      padding-bottom: 80%;
    }
    // .item-hero__picture_before
    &_before {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        height: 120%;
        background: url("@img/main/hero/grain.png") 0 0 / 100% no-repeat;
        transform: translate(-30%, -3%);
        @media (max-width: em(1500)) {
          transform: translate(-15%, -3%);
        }
        @media (max-width: em(600)) {
          width: 80%;
          height: 80%;
          transform: translate(15%, -3%);
        }
      }
    }
  }

  // .item-hero__ibg-image
  &__ibg-image {
    position: absolute;
    width: 100%;
    // height: 100%;
    top: 0;
    left: 0;
    padding-bottom: 79.666%;
  }
  // .item-hero__ibg-pic
  &__ibg-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -20%;
    @media (max-width: em(1500)) {
      left: 0%;
    }
  }
}

// Блок 3
.item-cards {
  position: relative;
  z-index: 1;
  @include adaptiveValue("padding-bottom", 90, 50);
  // .item-cards__container
  &__container {
  }
  // .item-cards__head
  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 80, 30);
    }
  }
  // .item-cards__title
  &__title {
    position: relative;
    line-height: math.div(62, 50);
  }
  // .item-cards__body
  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue("column-gap", 20, 15, 480, 320, 1);
    @include adaptiveValue("row-gap", 20, 15, 480, 320, 1);
    @media (max-width: em(1160)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobileSmall) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  // .item-cards__item
  &__item {
  }
}

.card-item {
  @include adaptiveValue("padding-top", 60, 30);
  @include adaptiveValue("padding-right", 60, 30);
  @include adaptiveValue("padding-left", 60, 30);
  @include adaptiveValue("padding-bottom", 50, 20);
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
  border-radius: 20px;
  transition: all 0.2s ease 0s;
  transform: translate(0, 0);
  transition: transform 0.2s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      .card-item {
        // .card-item__content
        &__content {
          transition: transform 0.2s ease 0s;
          transform: translate(0, -20%);
        }
        // .card-item__button
        &__button {
          opacity: 1;
          visibility: visible;
        }
        // .card-item__title
        &__title {
          transition: all 0.2s ease 0s;
          transform: scale(1.2);
          @media (any-hover: hover) {
            &:hover {
              color: rgb(92, 92, 92);
            }
          }
        }
      }
    }
  }
  // .card-item__content
  &__content {
    transition: transform 0.2s ease 0s;
    transform: translate(0, 0);
  }

  // .card-item__reference
  &__reference {
    display: block;
    &:not(:last-child) {
      @include adaptiveValue(" margin-bottom", 80, 50);
    }
  }

  // .card-item__ibg-image
  &__ibg-image {
    padding-bottom: 71.8644%;
    &:not(:last-child) {
      @include adaptiveValue(" margin-bottom", 80, 50);
    }
  }
  // .card-item__ibg-pic
  &__ibg-pic {
    transition: transform 0.2s ease 0s;
  }
  // .card-item__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .card-item__title
  &__title {
    @include adaptiveValue("font-size", 25, 20, 1160, 480, 1);
    transform: translate(0, 0);
    font-weight: 700;
    line-height: math.div(30, 25);
    text-align: center;
    transition: transform 0.2s ease 0s;
    &:not(:last-child) {
      @include adaptiveValue(" margin-bottom", 50, 30);
    }
  }
  // .card-item__button
  &__button {
    opacity: 0;
    visibility: hidden;
    width: 100%;
  }
}

// Блок 4

.columns-slider {
  @include adaptiveValue("padding-bottom", 50, 20);
  z-index: 50;
  position: relative;

  // .columns-slider__container
  &__container {
    position: relative;
    .swiper-button-prev {
      position: absolute;
      width: 70px;
      height: 70px;
      top: 55%;
      left: 1%;
      background: url("../img/main/columns-slider/arrow-left.svg") 0 0 no-repeat;
      @media (max-width: em(1580)) {
        display: none;
      }
    }
    .swiper-button-next {
      position: absolute;
      width: 70px;
      height: 70px;
      top: 55%;
      right: 1%;
      background: url("../img/main/columns-slider/arrow-right.svg") 0 0 no-repeat;
      @media (max-width: em(1580)) {
        display: none;
      }
    }
  }

  // .columns-slider__head
  &__head {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 90, 35);
    }
    @media (max-width: $mobileSmall) {
      align-items: center;
    }
  }
  // .columns-slider__title
  &__title {
    line-height: math.div(62, 50);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 20, 1660, 768, 1);
    }
  }
  // .columns-slider__text
  &__text {
    @include adaptiveValue("font-size", 25, 18, 1660, 768, 1);
    max-width: rem(1110);
    position: relative;
    font-weight: 500;
    line-height: 130%;
    text-align: right;
    @media (max-width: $mobile) {
      text-align: center;
      max-width: none;
    }
  }
  // .columns-slider__slider
  &__slider {
    padding: rem(50) rem(15) rem(20) rem(15);
    // margin: 0 rem(-15);
    max-width: rem(1400);
    margin: 0 auto;
    @media (max-width: $mobile) {
      padding: rem(40) rem(15) rem(30) rem(15);
    }
  }
  // .columns-slider__wrapper
  &__wrapper {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 58, 20);
    }
  }
  // .columns-slider__slide
  &__slide {
  }
  // .columns-slider__all
  &__all {
    display: flex;
    justify-content: end;
    font-weight: 500;
    @include adaptiveValue("font-size", 20, 18);
    line-height: math.div(24, 20);
    span {
      border-bottom: 1px solid $mainColor;
      transition: all 0.2s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $mainElementColor;
          border-bottom: 1px solid $mainElementColor;
        }
      }
    }
  }

  .item-columns {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: rem(20) rem(35) rem(50) rem(35);
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(146, 146, 146, 0.25);
    border-radius: 20px;
    position: relative;
    @media (max-width: $mobileSmall) {
      padding: rem(20);
    }
    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      top: -5%;
      left: 5%;
      background: url("../img/main/columns-slider/percent.png") 0 0 / 50% no-repeat;
      @media (max-width: $mobile) {
        top: -5%;
        left: 0;
        background: url("../img/main/columns-slider/percent.png") 0 0 / 40% no-repeat;
      }
    }
    // .item-columns__head
    &__head {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
    // .item-columns__text
    &__text {
      font-weight: 700;
      line-height: math.div(22, 18);
      font-size: rem(18);
      color: #f9b300;
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
    // .item-columns__body
    &__body {
    }

    // .item-columns__prefooter
    &__prefooter {
      flex: 1 1 auto;
    }
    // .item-columns__footer
    &__footer {
    }
    // .item-columns__priceold
    &__priceold {
      font-weight: 500;
      line-height: math.div(29, 25);
      text-decoration-line: line-through;
      color: #c6c6c6;
    }

    // .item-columns__upper
    &__upper {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 35, 15);
      }
    }

    // .item-columns__lower
    &__lower {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }
  }

  .body-columns-item {
    display: flex;
    align-items: flex-start;
    @include adaptiveValue("column-gap", 20, 10, 480, 320, 1);
    row-gap: rem(15);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 25);
    }
    // .body-columns-item__picture
    &__picture {
      flex: 1 1 56.393%;
    }
    // .body-columns-item__ibg-image
    &__ibg-image {
      padding-bottom: 180%;
    }
    // .body-columns-item__ibg-pic
    &__ibg-pic {
    }
    // .body-columns-item__content
    &__content {
      flex: 1 1 43.607%;
    }
    // .body-columns-item__rating
    &__rating {
      color: #f9b300;
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 10, 5);
      }
    }
    // .body-columns-item__reviews
    &__reviews {
      display: flex;
      align-items: center;
      gap: rem(7);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 28, 15);
      }
    }
    // .body-columns-item__number
    &__number {
      font-weight: 700;
      line-height: math.div(24, 20);
      @include adaptiveValue("font-size", 20, 18);
    }
    // .body-columns-item__review
    &__review {
      position: relative;
      font-weight: 500;
      font-size: rem(14);
      line-height: math.div(16, 14);
      color: #5b5b5b;
    }
    // .body-columns-item__roasting
    &__roasting {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 30, 15);
      }
    }
    // .body-columns-item__text
    &__text {
      font-weight: 500;
      line-height: math.div(21, 18);
      font-size: rem(18);
    }
    // .body-columns-item__points
    &__points {
      color: #f9b300;
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }
  }
  .prefooter-columns-item {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
    // .prefooter-columns-item__title
    &__title {
      position: relative;
      display: block;
      font-weight: 900;
      line-height: math.div(31, 25);
      @include adaptiveValue("font-size", 25, 24, 480, 320, 1);
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
    // .prefooter-columns-item__text
    &__text {
      font-weight: 500;
      line-height: math.div(21, 18);
      @include adaptiveValue("font-size", 18, 17, 480, 320, 1);
    }
  }
  .footer-columns-item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @include adaptiveValue("column-gap", 50, 10, 1660, 992, 1);
    @media (max-width: em(1268)) {
      flex-direction: column;
      align-items: flex-start;
    }
    // .footer-columns-item__pricenew
    &__pricenew {
      font-weight: 900;
      line-height: math.div(44, 35);
      font-size: 35px;
      align-self: flex-start;
      @media (max-width: em(1268)) {
        &:not(:last-child) {
          margin-bottom: rem(15);
        }
      }
    }
    // .footer-columns-item__button
    &__button {
      font-weight: 700;
      line-height: math.div(22, 18);
      padding: rem(13) rem(40);
      position: relative;
    }
  }
}
// Блок 5
.picture-points {
  background: url("../img/main/points-picture/all-bg.svg") 0 0 / 100% no-repeat;
  @include adaptiveValue("padding-top", 90, 30);
  // .picture-points__head
  &__head {
  }
  // .picture-points__main
  &__main {
    background: #fff7e1;
    @include adaptiveValue("padding-bottom", 80, 30);
  }
  // .picture-points__container
  &__container {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 85, 10);
    @media (max-width: em(660)) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  // .picture-points__picture
  &__picture {
    align-self: flex-start;
    flex: 1 1 45.4216%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 60%;
      height: 100%;
      top: 35%;
      left: 5%;
      background: url("../img/main/points-picture/coffee.png") 0 0 / 100% no-repeat;
      z-index: 2;
    }
    @media (max-width: em(660)) {
      align-self: center;
      width: 80%;
      height: 80%;
    }
  }
  // .picture-points__ibg-image
  &__ibg-image {
    padding-bottom: 66.5782%;
  }
  // .picture-points__ibg-pic
  &__ibg-pic {
  }
  // .picture-points__body
  &__body {
    flex: 1 1 54.5784%;
  }
}
.head-points-picture {
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 80, 40);
  }
  // .head-points-picture__container
  &__container {
    display: flex;
  }
  // .head-points-picture__space
  &__space {
    flex: 0 1 49%;
    @media (max-width: em(580)) {
      flex: 0 0 0;
    }
  }
  // .head-points-picture__title
  &__title {
    flex: 0 1 51%;
    max-width: rem(585);
    line-height: math.div(62, 50);
    @media (max-width: em(580)) {
      flex: 0 1 100%;
      text-align: center;
    }
  }
}
.points-picture {
  // .points-picture__item
  &__item {
    display: flex;
    @include adaptiveValue("column-gap", 50, 15);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 15);
    }
  }
  // .points-picture__image
  &__image {
    flex: 0 1 84px;
    height: 84px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  // .points-picture__img
  &__img {
    max-width: 100%;
    max-height: 84px;
  }
  // .points-picture__body
  &__body {
  }
  // .points-picture__subtitle
  &__subtitle {
    max-width: rem(456);
    font-weight: 700;
    line-height: math.div(36, 25);
    @include adaptiveValue("font-size", 30, 20);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }
  }
  // .points-picture__text
  &__text {
    max-width: rem(531);
    font-weight: 500;
    @include adaptiveValue("font-size", 25, 18);
    line-height: 130%;
  }
}
// Блок 6
.title-text {
  @include adaptiveValue("padding-top", 205, 50);
  @include adaptiveValue("padding-bottom", 190, 50);
  background: url("../img/main/title-text/decor-two.svg") center bottom / 100% no-repeat,
    url("../img/main/title-text/bg.jpg") center center / cover no-repeat;

  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1%;
    left: 0;
    background: url("../img/main/title-text/decor-one.svg") 0 0 / 100% no-repeat;
  }
  // .title-text__container
  &__container {
  }
  // .title-text__title
  &__title {
    max-width: rem(800);
    line-height: math.div(62, 50);
    color: #ffffff;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 100, 30);
    }
  }

  // .title-text__item
  &__item {
    max-width: rem(1246);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 100, 30);
    }
  }

  // .title-text__text
  &__text {
    font-weight: 500;
    @include adaptiveValue("font-size", 25, 18);
    line-height: 130%;
    color: #ffffff;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 45, 25);
    }
  }
  // .title-text__button
  &__button {
    position: relative;
    z-index: 2;
    display: inline-flex;
  }
}
// Блок 7
.news-cards {
  @include adaptiveValue("padding-top", 70, 30);
  @include adaptiveValue("padding-bottom", 70, 30);
  background-color: #fff;
  position: relative;
  margin-top: -1px;
  // .news-cards__container
  &__container {
  }
  // .news-cards__head
  &__head {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("column-gap", 15, 5);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
    @media (max-width: $mobileSmall) {
      display: block;
    }
  }
  // .news-cards__title
  &__title {
    line-height: math.div(62, 50);
  }
  // .news-cards__reference
  &__reference {
    position: relative;
    z-index: 3;
    @include adaptiveValue("font-size", 25, 18);
    margin-top: rem(30);
    display: block;
    font-weight: 500;
    line-height: 1.2;
    border-bottom: 1px solid black;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $mainElementColor;
        border-bottom: 1px solid $mainElementColor;
      }
    }
    @media (max-width: $mobileSmall) {
      display: inline;
    }
  }
  // .news-cards__body
  &__body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: rem(20);
    @media (max-width: em(1150)) {
      grid-auto-rows: auto;
    }
  }
}

.news-item {
  grid-column: span 3;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
  border-radius: 20px;
  @media (max-width: em(1150)) {
    grid-column: span 5;
  }
  @media (max-width: em(680)) {
    display: flex;
    flex-direction: column;
  }
  // .news-item_second
  &_second {
    grid-column: span 2;
    @media (max-width: em(1150)) {
      grid-column: span 5;
    }
  }
  // .news-item__picture
  &__picture {
    width: 100%;
    height: 100%;
    max-width: 336px;
    @media (max-width: em(680)) {
      max-width: none;
      max-height: 400px;
    }
  }

  // .news-item__img
  &__img {
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    @media (max-width: em(680)) {
      border-radius: 20px 20px 0 0;
    }
  }
  // .news-item__content
  &__content {
    padding: rem(40);
    flex: 1 1 65%;
  }
  // .news-item__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 25, 20);
    line-height: 130%;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }
  // .news-item__text
  &__text {
    font-weight: 500;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 130%;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25, 20);
    }
  }
  // .news-item__more
  &__more {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-weight: 500;
    line-height: math.div(24, 20);
    @include adaptiveValue("font-size", 20, 18);
    color: #f9b300;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $mainHoverColor;
      }
    }
  }
}
// Блок 8
.subscribe {
  @include adaptiveValue("padding-bottom", 80, 30);
  // .subscribe__container
  &__container {
    display: flex;
    @include adaptiveValue("column-gap", 20, 10, 1660, 768, 1);
    row-gap: rem(20);
    @media (max-width: em(660)) {
      flex-direction: column;
    }
  }
  // .subscribe__body
  &__body {
    flex: 1 1 58.0723%;
  }
  // .subscribe__title
  &__title {
    max-width: rem(800);
    font-weight: 900;
    line-height: math.div(62, 50);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 25, 1660, 768, 1);
    }
  }
  // .subscribe__subtitle
  &__subtitle {
    max-width: rem(757);
    @include adaptiveValue("font-size", 25, 18);
    font-weight: 500;
    line-height: 130%;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30, 1660, 768, 1);
    }
  }
  // .subscribe__form
  &__form {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 15, 1660, 768, 1);
    }
  }
  // .subscribe__text
  &__text {
    font-weight: 500;
    font-size: rem(16);
    line-height: 130%;
    color: #5b5b5b;
    span {
      color: $mainElementColor;
    }
  }
  // .subscribe__picture
  &__picture {
    position: relative;
    flex: 1 1 41.9277%;
    &::before {
      content: "";
      position: absolute;
      width: 65%;
      height: 100%;
      top: 15%;
      left: 15%;
      background: url("../img/main/hero/cup.png") 0 0 / 100% no-repeat;
      z-index: 2;
    }
  }
  // .subscribe__ibg-image
  &__ibg-image {
    padding-bottom: 68.876%;
    @media (max-width: em(660)) {
      padding-bottom: 58.876%;
    }
  }
  // .subscribe__ibg-pic
  &__ibg-pic {
  }
}
.form-subscribe {
  display: flex;
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
  }
  // .form-subscribe__input
  &__input {
    background: #f3f3f3;
    border-radius: rem(40);
    border: none;
    z-index: 3;
    @include adaptiveValue("padding-top", 25, 13, 1660, 1360, 1);
    @include adaptiveValue("padding-bottom", 25, 13, 1660, 1360, 1);
    @include adaptiveValue("padding-right", 90, 70, 1660, 1360, 1);
    @include adaptiveValue("padding-left", 60, 20, 1660, 1360, 1);
    &::placeholder {
      color: #c9c9c9;
      @include adaptiveValue("font-size", 25, 18, 1660, 1360, 1);
    }
    @media (max-width: $tablet) {
      @include adaptiveValue("padding-right", 50, 20, 1660, 768, 1);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10, 992, 768, 1);
      }
    }
  }
  // .form-subscribe__button
  &__button {
    z-index: 3;
    transform: translate(-30%, 0);
    font-weight: 700;
    line-height: math.div(30, 25);
    color: #ffffff;
    background: #f9b300;
    border-radius: rem(40);
    @include adaptiveValue("font-size", 25, 18, 1660, 1360, 1);
    @include adaptiveValue("padding-top", 25, 16, 1660, 1360, 1);
    @include adaptiveValue("padding-bottom", 25, 16, 1660, 1360, 1);
    @include adaptiveValue("padding-right", 53, 30, 1660, 1360, 1);
    @include adaptiveValue("padding-left", 53, 30, 1660, 1360, 1);
    @media (max-width: $tablet) {
      transform: translate(0, 0);
      align-self: flex-start;
    }
  }
}
