//====================================================================================================

//====================================================================================================
.page {
}

// Блок 1
.product-page {
  background: #fff7e1;
  // .product-page__container
  &__container {
  }
  // .product-page__head
  &__head {
    @include adaptiveValue("padding-top", 40, 20);
    @include adaptiveValue("padding-bottom", 50, 30);
  }
  // .product-page__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(5);
    row-gap: rem(3);
  }
  // .product-page__item
  &__item {
  }
  // .product-page__link
  &__link {
    font-weight: 500;
    line-height: math.div(21, 18);
    @include adaptiveValue("font-size", 18, 16);
  }
  // .product-page__body
  &__body {
  }
}
.product-item {
  position: relative;
  @include adaptiveValue("padding-top", 90, 30);
  @include adaptiveValue("padding-right", 300, 60, 1660, 992, 1);
  @include adaptiveValue("padding-bottom", 90, 30);
  @include adaptiveValue("padding-left", 90, 30);
  @include adaptiveValue("column-gap", 95, 30);
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 0px 50px rgba(163, 163, 163, 0.25);
  border-radius: rem(20);
  @media (max-width: $tablet) {
    @include adaptiveValue("padding-right", 60, 30, 992, 320, 1);
  }
  @media (max-width: em(660)) {
    flex-direction: column;
  }
  // .product-item__picture
  &__picture {
    align-self: flex-start;
    flex: 1 1 42.141%;
    padding-bottom: rem(15);
    @media (max-width: em(660)) {
      width: 50%;
      height: 50%;
      align-self: center;
    }
  }
  // .product-item__ibg-image
  &__ibg-image {
    padding-bottom: 130%;
  }
  // .product-item__ibg-pic
  &__ibg-pic {
  }
  // .product-item__content
  &__content {
    flex: 1 1 57.859%;
  }
  // .product-item__title
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 15, 1660, 1370, 1);
    }
  }
  // .product-item__subtitle
  &__subtitle {
    font-weight: 500;
    line-height: math.div(24, 20);
    @include adaptiveValue("font-size", 20, 18);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 16, 1660, 1370, 1);
    }
  }
  // .product-item__reviews
  &__reviews {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include adaptiveValue("column-gap", 20, 15);
    row-gap: rem(5);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20, 1660, 1370, 1);
    }
  }
  // .product-item__stars
  &__stars {
    color: #f9b300;
  }
  // .product-item__numbers
  &__numbers {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 20, 15);
  }
  // .product-item__number
  &__number {
    font-weight: 700;
    line-height: math.div(36, 30);
    @include adaptiveValue("font-size", 30, 20);
  }
  // .product-item__review
  &__review {
    font-weight: 500;
    font-size: rem(16);
    line-height: math.div(19, 16);
    color: #5b5b5b;
  }
  // .product-item__text
  &__text {
    max-width: rem(652);
    font-weight: 500;
    @include adaptiveValue("font-size", 20, 16);
    line-height: 130%;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30, 1660, 1370, 1);
    }
  }
  // .product-item__items
  &__items {
    display: flex;
    @include adaptiveValue("column-gap", 20, 15);
    row-gap: rem(15);
    @media (max-width: $tablet) {
      flex-direction: column;
      max-width: rem(260);
    }
  }
  // .product-item__button
  &__button {
  }
}

// Блок 2
.product-nav {
  margin-top: rem(-50);
  @include adaptiveValue("padding-top", 140, 90);
  @include adaptiveValue("padding-bottom", 90, 40);
  background: url("../img/product/bg-item.svg") 0 0 / 100% no-repeat;
  // .product-nav__navigation
  &__navigation {
  }
  // .product-nav__list
  &__list {
    display: flex;
    @include adaptiveValue("column-gap", 20, 10);
    row-gap: rem(8);
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }
  // .product-nav__item
  &__item {
    flex: 1 1 33.333%;
  }
  // .product-nav__link
  &__link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    line-height: math.div(30, 25);
    @include adaptiveValue("font-size", 25, 18, 1660, 992, 1);
    background: #f6f6f6;
    border: 1px solid #c9c9c9;
    border-radius: rem(5);
    @include adaptiveValue("padding-top", 15, 10, 1660, 480, 1);
    @include adaptiveValue("padding-right", 15, 10, 1660, 480, 1);
    @include adaptiveValue("padding-left", 15, 10, 1660, 480, 1);
    @include adaptiveValue("padding-bottom", 15, 10, 1660, 480, 1);
    color: $mainElementColor;
    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background: #fff7e1;
        border: 1px solid $mainElementColor;
      }
    }
  }
}
