.page {
}
.hero-cards {
  @include adaptiveValue("padding-bottom", 40, 30, 1660, 1360, 1);
  // .hero-cards_padding
  &_padding {
    padding-bottom: 0;
  }

  // .hero-cards__head
  &__head {
  }
  // .hero-cards__body
  &__body {
  }
}
.head-cards-hero {
  @include adaptiveValue("padding-top", 40, 15, 1660, 1360, 1);
  @include adaptiveValue("padding-bottom", 40, 30, 1660, 1360, 1);
  position: relative;
  z-index: 1;
  background: #f9b300;
  // .head-cards-hero__container
  &__container {
    display: flex;
    row-gap: rem(15);
    @media (max-width: em(860)) {
      align-items: center;
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }
  // .head-cards-hero__content
  &__content {
    flex: 1 1 51%;
    @media (max-width: $tablet) {
      flex: 1 1 60%;
    }
    @media (max-width: $mobile) {
      flex: 1 1 70%;
    }
  }
  // .head-cards-hero__list
  &__list {
    display: flex;
    column-gap: rem(5);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 130, 30, 1660, 320, 1);
    }
    @media (max-width: em(640)) {
      display: none;
    }
  }
  // .head-cards-hero__item
  &__item {
  }
  // .head-cards-hero__link
  &__link {
    font-weight: 500;
    line-height: math.div(21, 18);
    @include adaptiveValue("font-size", 18, 16, 1660, 1360, 1);
    color: #ffffff;
  }
  // .head-cards-hero__title
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 15, 1660, 1360, 1);
    }
  }
  // .head-cards-hero__text
  &__text {
    color: #ffffff;
    line-height: 1.3;
    @include adaptiveValue("font-size", 25, 18, 1660, 1360, 1);
  }

  // .head-cards-hero__picture
  &__picture {
    width: 80%;
    height: 100%;
    flex: 1 1 49%;
    // .head-cards-hero__picture_bg
    &_bg {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 80%;
        height: 80%;
        top: 10%;
        left: 15%;
        background: url("@img/main/hero/cup.png") 0 0 / 100% no-repeat;
        z-index: 2;
      }
    }

    @media (max-width: $tablet) {
      flex: 1 1 40%;
    }
    @media (max-width: $mobile) {
      flex: 1 1 30%;
    }
  }
  // .head-cards-hero__ibg-image
  &__ibg-image {
    padding-bottom: 79.9755%;
    position: relative;
  }

  // .head-cards-hero__ibg-pic
  &__ibg-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20%;
    left: 22%;
    // .head-cards-hero__ibg-pic_vending
    &_vending {
      top: -5%;
      left: 0;
    }
    // .head-cards-hero__ibg-pic_healthy
    &_healthy {
      top: -5%;
      left: 10%;
      width: 80%;
    }
    // .head-cards-hero__ibg-pic_coffee
    &_coffee {
      top: 0%;
      left: 0%;
    }
  }
}

.body-cards-hero {
  position: relative;
  z-index: 2;
  @include adaptiveValue("margin-top", -110, 0, 1660, 992, 1);
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("@img/tea/hero-tea/decor-two.svg") 0 0 / 100% no-repeat;
  }

  // .body-cards-hero__container
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-auto-rows: 1fr;
    @include adaptiveValue("column-gap", 20, 10, 768, 320, 1);
    @include adaptiveValue("row-gap", 30, 10, 768, 320, 1);
    @media (max-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: em(660)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobileSmall) {
      @include adaptiveValue("margin-top", -60, -20, 480, 332, 1);
    }
    // .body-cards-hero__container_healthy
    &_healthy {
      grid-template-columns: repeat(3, 1fr);
      @media (max-width: em(660)) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
.cards-hero-item {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include adaptiveValue("padding-top", 20, 15, 1660, 1110, 1);
  @include adaptiveValue("padding-right", 30, 10, 1660, 1110, 1);
  @include adaptiveValue("padding-bottom", 40, 25, 1660, 1110, 1);
  @include adaptiveValue("padding-left", 30, 10, 1660, 1110, 1);
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
  border-radius: 20px;
  transition: all 0.1s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 0 30px rgba(249, 178, 0, 0.953);
    }
  }

  // .cards-hero-item__image
  &__image {
    flex: 0 1 200px;
    max-width: 143px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 15);
    }
  }
  // .cards-hero-item__img
  &__img {
    max-width: 100%;
    max-height: 200px;
  }
  // .cards-hero-item__title
  &__title {
    font-weight: 700;
    line-height: math.div(30, 25);
    @include adaptiveValue("font-size", 25, 18);
    // .cards-hero-item__title_font
    &_font {
      @include adaptiveValue("font-size", 25, 14);
    }
  }
}

// Стили для страницы vending.html
.cards-hero-item {
  // .cards-hero-item__picture
  &__picture {
    width: 100%;
    height: 100%;
  }
  // .cards-hero-item__ibg-image
  &__ibg-image {
    display: block;
    padding-bottom: 60%;
  }
  // .cards-hero-item__ibg-pic
  &__ibg-pic {
  }
}

// Стили карточек для страницы healthy.html
.cards-healthy-item {
  display: flex;
  align-items: center;
  padding: rem(20) rem(20) rem(40) rem(20);
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
  border-radius: 20px;
  transition: all 0.1s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 0 30px rgba(249, 178, 0, 0.953);
    }
  }
  @media (max-width: em(1400)) {
    flex-direction: column;
  }

  // .cards-healthy-item__image
  &__image {
    flex: 0 0 182px;
    max-height: 279px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // @media (max-width: em(1400)) {
    //   flex: 0 1 279px;
    //   max-width: 182px;
    //   display: flex;
    //   align-items: flex-start;
    //   justify-content: center;
    // }
  }
  // .cards-healthy-item__img
  &__img {
    max-width: 100%;
    max-height: 279px;
    border-radius: 20px;
  }
  // .cards-healthy-item__title
  &__title {
    font-weight: 700;
    line-height: math.div(30, 25);
    @include adaptiveValue("font-size", 25, 16);
  }
}

// БЭМ-Блок с ассортиментом товаров
.assortment {
  background: #f5f5f5;
  @include adaptiveValue("padding-bottom", 70, 30);
  // .assortment_bg-color
  &_bg-color {
    background: #fff;
  }
  // .assortment__container
  &__container {
  }
  // .assortment__head
  &__head {
    @include adaptiveValue("padding-top", 27, 15);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 70, 30);
    }
  }
  // .assortment__button
  &__button {
    justify-content: start;
  }

  // .assortment__body
  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    @include adaptiveValue("column-gap", 20, 15);
    @include adaptiveValue("row-gap", 20, 15);
    @media (max-width: em(1620)) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: em(1180)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobileSmall) {
      grid-template-columns: repeat(1, 1fr);
    }
    // .assortment__body_rowgap
    &_rowgap {
      @include adaptiveValue("row-gap", 40, 30);
      @media (max-width: em(635)) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

.card-assortment {
  height: 100%;
  display: flex;
  flex-direction: column;
  @include adaptiveValue("padding-top", 30, 15);
  @include adaptiveValue("padding-right", 30, 15);
  @include adaptiveValue("padding-bottom", 50, 15);
  @include adaptiveValue("padding-left", 30, 15);
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 20px;
  // .card-assortment__head
  &__head {
    display: flex;
    justify-content: space-between;
    column-gap: rem(5);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 15, 10);
    }
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }
  // .card-assortment__reviews
  &__reviews {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25, 20);
    }
  }
  // .card-assortment__stars
  &__stars {
    color: #f9b300;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 10, 5);
    }
  }
  // .card-assortment__numbers
  &__numbers {
    column-gap: rem(7);
    display: flex;
    align-items: center;
  }
  // .card-assortment__number
  &__number {
    font-weight: 700;
    line-height: math.div(24, 20);
    @include adaptiveValue("font-size", 20, 18);
  }
  // .card-assortment__review
  &__review {
    font-weight: 500;
    line-height: math.div(16, 14);
    font-size: rem(14);
    color: #5b5b5b;
  }
  // .card-assortment__body
  &__body {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 22, 10, 768, 320, 1);
    }
  }

  // .card-assortment__reference
  &__reference {
  }

  // .card-assortment__ibg-image
  &__ibg-image {
    padding-bottom: 71.4743%;
  }
  // .card-assortment__ibg-pic
  &__ibg-pic {
  }
  // .card-assortment__footer
  &__footer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  // .card-assortment__title
  &__title {
    display: block;
    font-weight: 900;
    line-height: math.div(31, 25);
    @include adaptiveValue("font-size", 25, 20, 768, 320, 1);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15, 768, 320, 1);
    }
  }
  // .card-assortment__text
  &__text {
    flex: 1 1 auto;
    line-height: math.div(21, 18);
    font-weight: 500;
    font-size: rem(18);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 33, 15, 768, 320, 1);
    }
  }
  // .card-assortment__prefooter
  &__prefooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("column-gap", 30, 10);
    @media (max-width: em(600)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  // .card-assortment__price
  &__price {
    font-weight: 900;
    line-height: math.div(44, 35);
    @include adaptiveValue("font-size", 35, 25, 768, 320, 1);
    text-align: center;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .card-assortment__button
  &__button {
  }
}
